{% set route = app.request.attributes.get('_route') %}
{% set slug = app.request.get('slug') %}
{% set availableLimits = constant('BitBag\\SyliusElasticsearchPlugin\\Controller\\RequestDataHandler\\PaginationDataHandlerInterface::AVAILABLE_LIMITS') %}
{% set queryParameters = app.request.query.all|unset_elements(['limit']) %}

<div class="dropdown">
    <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
        {{ 'bitbag_sylius_elasticsearch_plugin.ui.per_page'|trans }}
    </button>
    <div class="dropdown-menu">
        {% for limit in availableLimits %}
            <a class="dropdown-item" href="{{ path(route, {'slug': slug, 'limit': limit}|merge(queryParameters)) }}">{{ limit }}</a>
        {% endfor %}
    </div>
</div>
